In [21]:
import numpy as np

In [22]:
import pandas as pd

In [23]:
df=pd.read_csv('BankNote_Authentication.csv')

In [24]:
df.head(5)

   variance  skewness  curtosis  entropy  class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

In [25]:
df.tail(6)

      variance  skewness  curtosis  entropy  class
1366  -2.41000   3.74330  -0.40215 -1.29530      1
1367   0.40614   1.34920  -1.45010 -0.55949      1
1368  -1.38870  -4.87730   6.47740  0.34179      1
1369  -3.75030 -13.45860  17.59320 -2.77710      1
1370  -3.56370  -8.38270  12.39300 -1.28230      1
1371  -2.54190  -0.65804   2.68420  1.19520      1

In [26]:
#Independent and Dependent Features
X=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [27]:
X.head()

   variance  skewness  curtosis  entropy
0   3.62160    8.6661   -2.8073 -0.44699
1   4.54590    8.1674   -2.4586 -1.46210
2   3.86600   -2.6383    1.9242  0.10645
3   3.45660    9.5228   -4.0112 -3.59440
4   0.32924   -4.4552    4.5718 -0.98880

In [28]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: class, dtype: int64

In [29]:
from sklearn.model_selection import train_test_split

In [30]:
X_train,X_test,y_train, y_test=train_test_split(X,y,test_size=0.33, random_state=42)

In [31]:
# Implement Random Forest classifier
from sklearn.ensemble import RandomForestClassifier
classifier=RandomForestClassifier()
classifier.fit(X_train,y_train)

RandomForestClassifier()

In [32]:
#Prediction
y_pred=classifier.predict(X_test)

In [33]:
#Check Accuracy
from sklearn.metrics import accuracy_score
score=accuracy_score(y_test,y_pred)

In [34]:
score

0.9933774834437086

In [35]:

import pickle
pickle_out = open("classifier.pkl","wb")
pickle.dump(classifier, pickle_out)
pickle_out.close()

In [36]:

classifier.predict([[2,3,4,1]])

array([0], dtype=int64)

In [37]:
classifier.predict([[1,2,3,4]])

array([0], dtype=int64)